.App {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.content {
  width: min-content;
  margin: auto;
  padding: 12px;
  box-sizing: border-box;
  background-color: rgb(199, 199, 199);
  border-top: 4px solid rgb(255, 255, 255);
  border-left: 4px solid rgb(255, 255, 255);
  border-right: 4px solid rgb(119, 119, 119);
  border-bottom: 4px solid rgb(119, 119, 119);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  box-sizing: border-box;
  background-color: rgb(199, 199, 199);
  border-top: 4px solid rgb(119, 119, 119);
  border-left: 4px solid rgb(119, 119, 119);
  border-right: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}

.counter {
  display: flex;
}

.item {
  background-image: url(./images/sprite.png);
  background-repeat: no-repeat;
  background-size: 275px;
}

.counter-item {
  width: 26px;
  height: 46px;
  border: 1px solid black;
  box-sizing: border-box;
}

.counter-item-0 {
  background-position: right 0 top -1px;
}

.counter-item-1 {
  background-position: -1px -1px;
}

.counter-item-2 {
  background-position: -29px -1px;
}

.counter-item-3 {
  background-position: -57px -1px;
}

.counter-item-4 {
  background-position: -85px -1px;
}

.counter-item-5 {
  background-position: -112px -1px;
}

.counter-item-6 {
  background-position: -139px -1px;
}

.counter-item-7 {
  background-position: -168px -1px;
}

.counter-item-8 {
  background-position: -195px -1px;
}

.counter-item-9 {
  background-position: -223px -1px;
}

.button {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: none;
}

.button-ok {
  background-position: -1px -49px;
}

.button-wait {
  background-position: -108px -49px;
}

.button-loose {
  background-position: -215px -49px;
}

.button-win {
  background-position: -161px -49px;
}

.button-pressed {
  background-position: -55px -49px;
}

.field {
  margin-top: 12px;
  box-sizing: border-box;
  border-top: 4px solid rgb(119, 119, 119);
  border-left: 4px solid rgb(119, 119, 119);
  border-right: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}

.line {
  display: flex;
}

.field-item {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.field-item-closed {
  background-position: 0 -101px;
}

.field-item-will-open {
  background-position: -36px -102px;
}

.field-item-flag {
  background-position: -67px -101px;
}

.field-item-question {
  background-position: -101px -101px;
}

.field-item-will-open-question {
  background-position: -136px -102px;
}

.field-item-0 {
  background-position: -35px -102px;
}

.field-item-1 {
  background-position: -1px -136px;
}

.field-item-2 {
  background-position: -35px -136px;
}

.field-item-3 {
  background-position: -69px -136px;
}

.field-item-4 {
  background-position: -103px -136px;
}

.field-item-5 {
  background-position: -137px -136px;
}

.field-item-6 {
  background-position: -171px -136px;
}

.field-item-7 {
  background-position: -205px -136px;
}

.field-item-8 {
  background-position: -239px -136px;
}

.field-item-bomb {
  background-position: -169px -102px;
}

.field-item-current-bomb {
  background-position: -203px -102px;
}

.field-item-found-bomb {
  background-position: -237px -102px;
}
