.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.content {
  width: min-content;
  margin: auto;
  padding: 12px;
  box-sizing: border-box;
  background-color: rgb(199, 199, 199);
  border-top: 4px solid rgb(255, 255, 255);
  border-left: 4px solid rgb(255, 255, 255);
  border-right: 4px solid rgb(119, 119, 119);
  border-bottom: 4px solid rgb(119, 119, 119);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  box-sizing: border-box;
  background-color: rgb(199, 199, 199);
  border-top: 4px solid rgb(119, 119, 119);
  border-left: 4px solid rgb(119, 119, 119);
  border-right: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}

.counter {
  display: flex;
}

.item {
  background-image: url(./images/sprite.png);
  background-repeat: no-repeat;
  background-size: 920%;
}

.counter-item {
  width: 26px;
  height: 46px;
  border: 1px solid black;
  box-sizing: border-box;
  background-size: 1110%;
}

.counter-item-0 {
  background-position: -242px 0;
}

.counter-item-1 {
  background-position: -1px 0;
}

.counter-item-2 {
  background-position: -27px 0;
}

.counter-item-3 {
  background-position: -54px 0;
}

.counter-item-4 {
  background-position: -81px 0;
}

.counter-item-5 {
  background-position: -109px 0;
}

.counter-item-6 {
  background-position: -136px 0;
}

.counter-item-7 {
  background-position: -163px 0;
}

.counter-item-8 {
  background-position: -190px 0;
}

.counter-item-9 {
  background-position: -216px 0;
}

.button {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-size: 550%;
  border: none;
}

.button-ok {
  background-position: 0 -49px;
}

.button-wait {
  background-position: -106px -49px;
}

.button-loose {
  background-position: -214px -49px;
}

.button-win {
  background-position: -160px -49px;
}

.button-pressed {
  background-position: -54px -49px;
}

.field {
  margin-top: 12px;
  box-sizing: border-box;
  border-top: 4px solid rgb(119, 119, 119);
  border-left: 4px solid rgb(119, 119, 119);
  border-right: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}

.line {
  display: flex;
}

.field-item {
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.field-item-closed {
  background-position: 0px -102px;
}

.field-item-will-open {
  background-position: -34px -103px;
}

.field-item-flag {
  background-position: -68px -102px;
}

.field-item-question {
  background-position: -102px -102px;
}

.field-item-will-open-question {
  background-position: -136px -102px;
}

.field-item-0 {
  background-position: -34px -103px;
}

.field-item-1 {
  background-position: 0 -137px;
}

.field-item-2 {
  background-position: -34px -137px;
}

.field-item-3 {
  background-position: -68px -137px;
}

.field-item-4 {
  background-position: -102px -137px;
}

.field-item-5 {
  background-position: -136px -137px;
}

.field-item-6 {
  background-position: -170px -137px;
}

.field-item-7 {
  background-position: -204px -137px;
}

.field-item-8 {
  background-position: -238px -137px;
}

.field-item-bomb {
  background-position: -170px -103px;
}

.field-item-current-bomb {
  background-position: -204px -103px;
}

.field-item-found-bomb {
  background-position: -238px -103px;
}
