.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: min-content;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.line {
  display: flex;
}

.item {
  width: 24px;
  height: 24px;
  border: 1px solid rgb(231, 178, 178);
}

.counter {
  display: flex;
}

.time {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(92, 78, 78);
}

.flag {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(92, 78, 78);
}
